{% extends "layout.html" %}

{% block title %} Cart {% endblock %}

{%- block body -%}

  <section class="product_list">
    <h1>Cart</h1>
    <div class="productc">

      {%- for item in items -%}
          <div class="card">
            <div class="image"><img src="{{ item.img }}" alt="uo no"></div>
            <div class="text">{{ item.title }} </div>
            <div class="product_price">₦ <span class="product_price_list"> {{ item.price }}</span></div>
            <button class="btn">0</button>
            <form action="/remove" method="post">
              <input type="hidden" name="id" value="{{ item.id }}">
              <button class="buy_button" type="submit">remove from cart</buttons>
              </form>
            </div>
            {% endfor %}
            <p>{{ "Welcome, " ~ user.name if user and user.name else "Welcome, guest" }}</p>

    </div>
    <a href="/">Items</a>
  </section>

{% endblock %}


