<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .form_button{
            height: 20px;
            border: 1px solid orange;
            justify-content: center;
        }
        .greet{
            color: skyblue;
        }
    </style>
</head>
<body>

    <h3 class="greet">Hi, {{ username }} </h3>

    {%- for ro in row -%}

        {{ro.timestamp }}

    <p class="gret">Trust you are doing well</p>
    <p>You have been given N1,000 as a welcome bonus</p>
    <input name="q" class="email" type="text">
    <ul></ul>
    <a href="https://kongadata-9vzk.onrender.com/auth/{{ro.id}}/{{ro.token}}" class="form_botton">Email Confirmation</a>
    {%- endfor -%}

</body>
</html>