<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .form_button{
            height: 20px;
            border: 1px solid orange;
            justify-content: center;
        }
        .greet{
            color: skyblue;
        }
    </style>
</head>
<body>

    <h3 class="greet">Hi, {{ username }} </h3>
    <p class="gret">Trust you are doing well</p>
    <p>You have been given N1,000 as a welcome bonus</p>
    {%- for ro in row -%}
        {{ ro.timestamp }}
    <a href="https://humble-giggle-765vprvj66xcxv6-5000.app.github.dev/auth/userid?={{ro.token}}&usertoken={{ro.token}}">Try</a>
    {%- endfor -%}

</body>
</html>
