<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="initial-scale=1, width=device-width">
    <title>{% block title %}  {% endblock %} - Shopping Complex </title>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1413637457928484" crossorigin="anonymous"></script>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-7W2K1FEDP2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-7W2K1FEDP2');
    </script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <nav class="nav">

    </nav>

    {% with messages = get_flashed_messages(with_categories=true ) %}
        {%- if messages -%}
            {% for category, message in messages %}
                {{ message }}
            {% endfor %}
        {% endif %}
    {%- endwith -%}
    {% block body %} {%- endblock %}

    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script type="text/javascript" src="/static/js/script.js"></script>
    <script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>

